/* inspiration */
@media (max-width: 1024px) {
  .keywords {
    padding: 0;
  }
  .about {
    .about__text {
      width: fit-content;
      font-size: 20px;
    }
  }
  .inspiration__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #man {
      grid-column: 1/2;
    }
    #horses {
      grid-column: 2/3;
    }
    #bridge {
      grid-column: 1/2;
    }
    #sky {
      grid-column: 1/3;
    }
    #tenement {
      grid-row: 4/4;
      grid-column: 3/1;
      object-fit: contain;
    }
  }
  .costomers__grid {
    grid-template-columns: repeat(2, 1fr);
    img {
      min-width: 100px;
    }
  }
}
